*{
    padding: 0;
    margin: 0;

}
body{
    width: 100%;
}
.container{
    width: 65%;
    margin: auto;
    margin-top: 50px;
    box-shadow: 2px 2px 2px 2px
    blue;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    align-items: center;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
button{
    width: 100%;
    border: none;
    height: 30px;
    background-color: red;
}
.garis{
    height: 3px;
    width: 50%;
    background-color: aqua;
    margin-bottom: 10px;
}